---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Política de Privacidad">
  <div class="container mx-auto max-w-6xl px-4 py-8">
    <div class="bg-white dark:bg-gray-800 p-8 rounded-lg shadow-md">
      <h1 class="text-3xl font-bold mb-6">Política de Privacidad</h1>
      <div class="prose dark:prose-invert max-w-none">
      <p>Última actualización: 21 de septiembre de 2025</p>
      <p>En Directorio RD, respetamos tu privacidad y nos comprometemos a protegerla. Esta Política de Privacidad explica cómo recopilamos, usamos y salvaguardamos tu información cuando visitas nuestro sitio web.</p>
      
      <h2>Recopilación de Información</h2>
      <p>Recopilamos información personal que nos proporcionas voluntariamente, como tu nombre y dirección de correo electrónico, al utilizar nuestro formulario de contacto.</p>
      
      <h2>Uso de la Información</h2>
      <p>La información que recopilamos se utiliza para:</p>
      <ul>
        <li>Responder a tus consultas y solicitudes.</li>
        <li>Mejorar nuestro sitio web y servicios.</li>
        <li>Enviar correos electrónicos periódicos, si has optado por recibirlos.</li>
      </ul>

      <h2>Seguridad de la Información</h2>
      <p>Implementamos una variedad de medidas de seguridad para mantener la seguridad de tu información personal.</p>
      </div>
    </div>
  </div>
</Layout>
